.cb {
  text-align: center;
}

.cb-banner {
  display: flex;
  height: 100px;
  justify-content: left;
  width: 100%;
  padding: 10px 0;
  border-bottom: #5a2191 double;
}

.cb-title {
  font-family: acier-bat-noir, sans-serif;
  font-size: 35px;
}

.cb-main-content {
  text-align: center;
  background-color: #61dafb;
  height: 100vh;
}

#cb-movie-page.cb-title {
  padding-top: 30px;
}

@media (prefers-reduced-motion: no-preference) {
  .cb-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.cb-header {
  background-color: #282c34;
  align-items: center;
  justify-content: center;
  color: white;
}

.cb-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
